<em class="ddp-bg-back"></em>
<div class="ddp-ui-contents-in ddp-scroll">
  <!-- top -->
  <div class="ddp-ui-contents-top">
     <div class="ddp-ui-title">
      {{'msg.comm.menu.manage.prep' | translate}}
    </div>

    <!-- tab -->
    <ul class="ddp-list-top-tab">
      <li><a [routerLink]="['/management/datapreparation/dataset']">{{'msg.comm.menu.manage.prep.set' | translate}}</a></li>
      <li><a [routerLink]="['/management/datapreparation/dataflow']">{{'msg.comm.menu.manage.prep.flow' | translate}}</a></li>
      <li><a [routerLink]="['/management/datapreparation/datasnapshot']">{{'msg.comm.menu.manage.prep.snapshot' | translate}}</a></li>
      <li class="ddp-selected"><a [routerLink]="['/management/datapreparation/graphDataAnalysis']">{{'msg.comm.menu.manage.prep.graph-analysis' | translate}}</a></li>
    </ul>
    <!-- //tab -->
  </div>
  <!-- //top -->

   <div class="ddp-ui-contents-list">
  </div>
</div>
