<em class="ddp-bg-back"></em>
<div class="ddp-ui-contents-in ddp-scroll">
  <!-- top -->
  <div class="ddp-ui-contents-top">
     <div class="ddp-ui-title">
      {{'msg.comm.menu.manage.prep' | translate}}
    </div>

    <!-- tab -->
    <ul class="ddp-list-top-tab">
      <li><a [routerLink]="['/management/datapreparation/dataset']">{{'msg.comm.menu.manage.prep.set' | translate}}</a></li>
      <li><a [routerLink]="['/management/datapreparation/dataflow']">{{'msg.comm.menu.manage.prep.flow' | translate}}</a></li>
      <li><a [routerLink]="['/management/datapreparation/datasnapshot']">{{'msg.comm.menu.manage.prep.snapshot' | translate}}</a></li>
      <li class="ddp-selected"><a [routerLink]="['/management/datapreparation/graphDataAnalysis']">{{'msg.comm.menu.manage.prep.graph-analysis' | translate}}</a></li>
    </ul>
    <!-- //tab -->
  </div>
  <!-- //top -->

   <div class="ddp-ui-contents-list">
     <!--options-->
     <div class="ddp-filter-option">
       <div class="ddp-wrap-edit">
         <label class="ddp-label-type">{{'msg.dp.th.cm-type' | translate}}</label>
         <!-- edit option -->
         <div class="ddp-ui-edit-option">
           <!-- selectbox -->
           <component-select
             [array]="clusteringMethods"
             [viewKey]="'label'"
             (onSelected)="onChangeClusteringMethod($event)">
           </component-select>
           <!-- //selectbox -->
         </div>
         <!-- //edit option -->
       </div>
     </div>
     <!--//options-->
     <graph [nodes]="nodes" [links]="links"></graph>
  </div>
</div>
